<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>


		<!-- <SMTP name="MailAppender" subject="Erro no Sistema de Certidão" to="neilton.barbosa@sefin.ro.gov.br" 
			from="ticontabilidade@sefin.ro.gov.br" -->
		<!-- smtpHost="172.22.0.27" smtpPort="25" bufferSize="50" smtpUsername="neilton.barbosa@sefin.ro.gov.br" 
			smtpPassword="211292neeh" > -->
		<!-- </SMTP> -->
		<SMTP name="MailAppender" subject="[RECADASTRAMENTO] - Error"
			to="neilton.barbosa@sefin.ro.gov.br"
			from="ticontabilidade@sefin.ro.gov.br" smtpHost="172.22.0.27"
			smtpPort="25" smtpUsername="neilton.barbosa@sefin.ro.gov.br"
			smtpPassword="@q1w2e3@">
		</SMTP>

	</Appenders>

	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="MailAppender" level="error" />
		</Root>
		<logger name="org.springframework.security" level="error" additivity="false">
			<AppenderRef ref="ConsoleAppender" level="error" />
		</logger>
	</Loggers>
</Configuration>